openapi: 3.0.1
info:
  title: iPay Enterprise Merchant API
  version: v1
servers:
- url: //api.ipay/api.ipay/coopmerchants
paths:
  /{id}/upload-txns:
    post:
      description: upload transactions to proceed
      parameters:
      - name: id
        in: path
        description: coop merchant user Id
        required: true
        schema:
          type: integer
      requestBody:
        description: File Upload
        content:
          '*/*':
            schema:
              type: object
              properties:
                filePath:
                  type: string
        required: true
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CorperateTransactionUploadResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: fileUpload
  /{id}/transactions:
    get:
      description: get transactions
      parameters:
      - name: id
        in: path
        description: coop merchant user Id
        required: true
        schema:
          type: integer
      - name: paymentType
        in: query
        description: payment type
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: payment type
        schema:
          type: string
      - name: status
        in: query
        description: payment type
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CooperateTransactionPagination'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/transactions/{transactionId}/approve:
    put:
      description: approve transactions
      parameters:
      - name: id
        in: path
        description: coop merchant user Id
        required: true
        schema:
          type: integer
      - name: transactionId
        in: path
        description: coop merchant transaction Id
        required: true
        schema:
          type: integer
      requestBody:
        description: File Upload
        content:
          '*/*':
            schema:
              type: object
              properties:
                isApproved:
                  type: string
                remark:
                  type: string
        required: true
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CorperateTransactionApprovalResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: commission
  /search:
    get:
      description: get coop merchant by code of name
      parameters:
      - name: name
        in: query
        description: merchant name
        schema:
          type: string
      - name: code
        in: query
        description: coop merchant code
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopMerchantResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users/status:
    get:
      description: get coop merchant user
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: username
        in: query
        description: coop merchant username
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopMerchantUserStatusResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users/search:
    get:
      description: get coop merchant user
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: username
        in: query
        description: coop merchant username
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopMerchantUserResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users/{userId}/roles:
    get:
      description: get coop merchant user roles
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: coop merchant user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopMerchantUserRoleResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/transactions/history:
    get:
      description: get coop merchant's received utility payments
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limit
        schema:
          type: integer
          format: integer
      - name: offset
        in: query
        description: Offset
        schema:
          type: integer
          format: integer
      - name: fromDate
        in: query
        description: From Date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: To Date
        schema:
          type: string
          format: date
      - name: order
        in: query
        description: Ascending / Descending Order of records (ASC/DESC)
        schema:
          type: integer
          format: integer
      - name: status
        in: query
        description: Transaction status
        schema:
          type: string
          format: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionHistory'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/create:
    post:
      description: Create Bill Type
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Type Request Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillTypeRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopBillTypeResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillTypeRequest
  /{id}/coopBill/{coopBillTypeId}:
    get:
      description: get coop bill type
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: coopBillTypeId
        in: path
        description: Coop Bill Type Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopBillTypeResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    put:
      description: update coop bill type
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: coopBillTypeId
        in: path
        description: Coop Bill Type Id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Type Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillTypeRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopBillTypeResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillTypeRequest
  /{id}/coopBill/coopBillType:
    get:
      description: get coop bill types
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopBillTypeResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/summaryDetail:
    get:
      description: get coop bill summary
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        description: From Date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: To Date
        schema:
          type: string
          format: date
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillDetailSummaryResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/billDetail:
    get:
      description: get coop bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: status
        in: query
        description: status
        schema:
          type: string
      - name: batchNo
        in: query
        description: batchNo
        schema:
          type: string
      - name: paymentStatus
        in: query
        description: payment Status
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopBillExecutionResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/billPresentedCustomer:
    get:
      description: get bill Presented Customers
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillPresentedCustomerResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      description: Update Bill Presented Customer
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: billPresentedCustomerId
        in: path
        description: bill Presented Customer Id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Bill Presented Customer Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BillPresentedCustomerRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/BillPresentedCustomerResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: billPresentedCustomerRequest
  /{id}/billPresentedCustomer/{billPresentedCustomerId}:
    get:
      description: get coop bill type
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: billPresentedCustomerId
        in: path
        description: bill Presented Customer Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/BillPresentedCustomerResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    put:
      description: Update Bill Presented Customer
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: billPresentedCustomerId
        in: path
        description: bill Presented Customer Id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Bill Presented Customer Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BillPresentedCustomerRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/BillPresentedCustomerResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: billPresentedCustomerRequest
  /{id}/coopBill/billExecution:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Execution Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillExecutionRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/BillExecutionSaveResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillExecutionRequest
  /{id}/coopBill/changeStatus:
    put:
      description: Change Coop Bill Change Status
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Change Status Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillChangeStatusRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopBillApproveResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillChangeStatusRequest
  /{id}/add-txn:
    post:
      description: Add individual transaction
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: individual Coop Payment Request payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/IndividualCoopPaymentRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CorperateTransactionUploadResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: individualCoopPaymentRequest
  /{id}/transactions/summaryDetail:
    get:
      description: get coop merchant Payment summary
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        description: From Date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: To Date
        schema:
          type: string
          format: date
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/MerchantPaymentSummaryResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/viewBills:
    get:
      description: get coop bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: status
        in: query
        description: status
        schema:
          type: string
      - name: batchNo
        in: query
        description: batchNo
        schema:
          type: string
      - name: paymentStatus
        in: query
        description: payment Status
        schema:
          type: string
      - name: customerId
        in: query
        description: customer Id
        schema:
          type: string
      - name: billReference
        in: query
        description: bill Reference
        schema:
          type: string
      - name: fromDate
        in: query
        description: From Date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: To Date
        schema:
          type: string
          format: date
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopBillExecutionResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/dashboardDetail:
    get:
      description: get coop bill summary
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        description: From Date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: To Date
        schema:
          type: string
          format: date
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopDashboardResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users:
    get:
      description: get coop merchant users
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopMerchantUserResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      description: Add Users to the Cooperate Merchant
      parameters:
      - name: merchantId
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
          format: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - activate
              - email
              - employeeNo
              - firstName
              - lastName
              - mobileNo
              - profilePic
              - roleIdList
              - username
              properties:
                username:
                  type: string
                  description: Username
                  format: string
                firstName:
                  type: string
                  description: First Name
                  format: string
                lastName:
                  type: string
                  description: Last Name
                  format: string
                mobileNo:
                  type: string
                  description: Mobile No
                  format: string
                email:
                  type: string
                  description: Email
                  format: string
                employeeNo:
                  type: string
                  description: Employee No
                  format: string
                roleIdList:
                  type: integer
                  description: Role Id List
                  format: integer
                activate:
                  type: boolean
                  description: Activate or Not (true or false)
                  format: boolean
                profilePic:
                  type: string
                  description: Profile Picture
                  format: string
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users/{userId}:
    get:
      description: get coop merchant user
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: userId
        in: path
        description: user Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopMerchantUserResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    put:
      description: Update Cooperate Merchant user
      parameters:
      - name: id
        in: path
        description: Login user ID
        required: true
        schema:
          type: integer
          format: integer
      - name: userId
        in: path
        description: Cooperate Merchant user ID
        required: true
        schema:
          type: integer
          format: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                firstName:
                  type: string
                  description: First Name of the user
                  format: string
                lastName:
                  type: string
                  description: Last Name of the user
                  format: string
                mobileNo:
                  type: string
                  description: mobile no of the user
                  format: string
                email:
                  type: string
                  description: email of the user
                  format: string
                roleIdList:
                  type: array
                  description: role id list
                  items:
                    type: integer
                status:
                  type: string
                  description: Status
                  format: string
                profilePic:
                  type: string
                  description: Profile Pic of the user
                  format: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users/{userId}/status:
    put:
      description: Activate/Deactive Cooperate Merchant User Account
      parameters:
      - name: id
        in: path
        description: Cooperate Merchant User ID
        required: true
        schema:
          type: integer
          format: integer
      - name: userId
        in: path
        description: User Id
        required: true
        schema:
          type: integer
          format: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - action
              properties:
                action:
                  type: string
                  description: action
                  format: string
        required: true
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/billPresentedCustomer/{billPresentedCustomerId}/Bills:
    get:
      description: get coop bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: billPresentedCustomerId
        in: path
        description: bill Presented Customer Id
        required: true
        schema:
          type: number
          format: integer
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: paymentStatus
        in: query
        description: paymentStatus
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopBillExecutionResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/getCoopBill/{coopBillId}:
    get:
      description: get coop bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: coopBillId
        in: path
        description: Bill Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopBillExecutionResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/billPresentedCustomer/{billPresentedCustomerId}/outstanding:
    get:
      description: get coop bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: billPresentedCustomerId
        in: path
        description: bill Presented Customer Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopMerchantOutstandingResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/roles:
    get:
      description: get coop merchant roles
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: merchantTypeId
        in: path
        description: Coop Merchant Type Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/MerchantRoleResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/users/{userId}/password:
    put:
      description: Change Password for cooperate merchant user
      parameters:
      - name: id
        in: path
        description: Cooperate Merchant ID
        required: true
        schema:
          type: integer
          format: integer
      - name: userId
        in: path
        description: Merchant User ID
        required: true
        schema:
          type: integer
          format: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - newPassword
              - oldPassword
              - username
              properties:
                username:
                  type: string
                  description: Username of the cooperate merchant user
                  format: string
                newPassword:
                  type: string
                  description: New Password of the cooperate merchant user
                  format: string
                oldPassword:
                  type: string
                  description: Old Password of the cooperate merchant user
                  format: string
        required: true
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /forgotpassword/initiateNewPassword:
    post:
      description: Initiate New Password
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - email
              - phone
              - platform
              - username
              properties:
                username:
                  type: string
                  description: username
                  format: string
                phone:
                  type: string
                  description: phone
                  format: string
                email:
                  type: string
                  description: email
                  format: string
                platform:
                  type: string
                  description: platform
                  format: string
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /forgotpassword/otpVerification:
    post:
      description: Initiate New Password
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - otp
              - username
              properties:
                otp:
                  type: string
                  description: ONE TIME PASSWORD
                  format: string
                username:
                  type: string
                  description: username
                  format: string
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /forgotpassword/initiateNewPasswordResend:
    post:
      description: Initiate New Password
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - email
              - phone
              - platform
              - username
              properties:
                username:
                  type: string
                  description: username
                  format: string
                phone:
                  type: string
                  description: phone
                  format: string
                email:
                  type: string
                  description: email
                  format: string
                platform:
                  type: string
                  description: platform
                  format: string
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /forgotpassword/getMobileNumberAndEmailByUserName/{username}:
    get:
      description: Get Merchant Mobile Number And Email By UserName
      parameters:
      - name: username
        in: path
        description: Merchant username
        required: true
        schema:
          type: string
          format: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      phone:
                        type: string
                      email:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /users/forgotpassword/update:
    post:
      description: Update forgotton Password
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - confirmationCode
              - newPassword
              - username
              properties:
                username:
                  type: string
                  description: username of the merchant user
                  format: string
                confirmationCode:
                  type: string
                  description: Confirmation Code received
                  format: string
                newPassword:
                  type: string
                  description: New Password
                  format: string
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application
      x-throttling-tier: Unlimited
  /{id}/coopBill/{coopBillId}/billExecution:
    put:
      description: Update Bill Presented Customer
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: coopBillId
        in: path
        description: bill Id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Bill Update Request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillExecutionUpdateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CoopBillExecutionResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillExecutionUpdateRequest
  /{id}/coopBill/recurring:
    post:
      description: Create Recurring bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Recurring Bill Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RecurringBillCreateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/RecurringBillSaveResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: recurringBillCreateRequest
  /{id}/coopBill/recurring/billDetail:
    get:
      description: get coop recurring bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: status
        in: query
        description: status
        schema:
          type: string
      - name: batchNo
        in: query
        description: batchNo
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecuringBillResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/recurring/changeStatus:
    put:
      description: Change Coop Recurring Bill Change Status
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Change Status Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillChangeStatusRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopBillApproveResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillChangeStatusRequest
  /{id}/coopCustomer/customerBulkSave:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: customerBulkRequest Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerBulkRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: customerBulkRequest
  /{id}/coopBill/recurring/{billId}:
    get:
      description: Create Recurring bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: billId
        in: path
        description: coop bill Id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/RecuringBillResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    put:
      description: Create Recurring bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      - name: billId
        in: path
        description: coop bill Id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Change Status Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RecurringBillUpdateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/RecuringBillResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: recurringBillUpdateRequest
  /{id}/coopBill/recurring/billDetail/processingStatus:
    get:
      description: get coop recurring bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: status
        in: query
        description: Processing Status
        schema:
          type: string
      - name: batchNo
        in: query
        description: batchNo
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecuringBillResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/manualPayment:
    put:
      description: Manual Payment Update Request
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Bill Update Request
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ManualPaymentUpdateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/ManualPaymentUpdateResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: manualPaymentUpdateRequest
  /{id}/coopCustomer/customerBulkSaveValidation:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: customerBulkRequest Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerBulkRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: customerBulkRequest
  /{customerId}/customer_referral/save:
    post:
      description: Execute bills
      parameters:
      - name: customerId
        in: path
        description: customerId id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Product Referral Details Request Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProductReferralDetailsRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: productReferralDetailsRequest
  /{id}/coopBill/bulkBillExecution:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: customerBulkRequest Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillExecutionRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillExecutionRequest
  /{id}/coopBill/recurringBulk:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: RecurringBillCreateRequest Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RecurringBillCreateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: coopBillExecutionRequest
  /{id}/accounts/balance:
    get:
      description: Get Corporate Merchant Balance
      parameters:
      - name: id
        in: path
        description: corporate merchant Id
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    $ref: '#/components/schemas/CorporateMerchantBalanceResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/transactions/fundFransfer:
    post:
      description: Create Coop Fund Transfer
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Fund Transfer Payment Request Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillFundTransferPaymentRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CorperateTransactionUploadResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: requests
  /{id}/transactions/billPayment:
    post:
      description: Create Coop Bill Payments
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: Coop Bill Fund Transfer Payment Request Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopBillPaymentRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CorperateTransactionUploadResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: requests
  /{id}/utilityMerchantList:
    get:
      description: Get all utility merchants
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: integer
          format: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/UtilityMerchantResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopSuppliers/billbulk:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: CoopSuppliersBillsCreateRequest Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopSuppliersBillsCreateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: CoopSuppliersBillsCreateRequest
  /{id}/coopSuppliers/fundsbulk:
    post:
      description: Execute bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      requestBody:
        description: CoopSuppliersFundsCreateRequest Payload
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CoopSuppliersFundsCreateRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: CoopSuppliersFundsCreateRequest
  /{id}/banks?action=ftrBanks:
    get:
      description: Get Banks
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: number
          format: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bank'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/enterprise/payments/view:
    get:
      description: get coop recurring bills
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: status
        in: query
        description: Status
        schema:
          type: string
      - name: paymentStatus
        in: query
        description: payment Status
        schema:
          type: string
      - name: batchNo
        in: query
        description: batchNo
        schema:
          type: string
      - name: utilityMerchant
        in: query
        description: utility Merchant code
        schema:
          type: string
      - name: bankCode
        in: query
        description: bank Code
        schema:
          type: string
      - name: fromDate
        in: query
        description: From Date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: To Date
        schema:
          type: string
          format: date
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CooperateTransaction'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/enterprise/payments/transactionAudit:
    get:
      description: get audit trail of coopTransactoions
      parameters:
      - name: id
        in: path
        description: coop merchant id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: limit
        schema:
          type: string
      - name: offset
        in: query
        description: offset
        schema:
          type: string
      - name: order
        in: query
        description: order
        schema:
          type: string
      - name: status
        in: query
        description: Status
        schema:
          type: string
      - name: txnId
        in: query
        description: Txn Id
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CooperateTransactionAudit'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/createpayByLink:
    post:
      description: Create dynamic URL request
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      requestBody:
        description: merchant request for creating dynamic URL
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CustomerDynamicUrlMappingRequest'
        required: true
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
          x-auth-type: Application & Application User
          x-throttling-tier: Unlimited
      x-codegen-request-body-name: customerDynamicUrlMappingRequest
  /{id}/dualAuthorization:
    put:
      description: Change Dual Authorization Status
      parameters:
      - name: id
        in: path
        description: Cooperate Merchant User ID
        required: true
        schema:
          type: integer
          format: integer
      requestBody:
        description: request for change authorizationstatus
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DualAuthorizationStatusChangeRequest'
        required: true
      responses:
        200:
          description: Successful response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      message:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: dualAuthorizationStatusChangeRequest
  /{id}/createpayByLink/{requestId}:
    put:
      description: dynamic URL request cancellation
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: requestId
        in: path
        description: request ID
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/getPayByLinkRequest:
    get:
      description: get dynamic URL request from reference
      parameters:
      - name: id
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
      - name: referenceNo
        in: query
        description: reference No
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/DynamicUrlMerchantRequest'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/createBulkPayByLink/{userId}:
    post:
      description: Create bulk dynamic URL request
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        description: User ID
        required: true
        schema:
          type: integer
      requestBody:
        description: merchant request for creating bulk dynamic URL
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RequestBulkExecutionRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-codegen-request-body-name: requestBulkExecutionRequest
  /{id}/payByLink/requests:
    get:
      description: get dynamic URL requests
      parameters:
      - name: id
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        description: limit
        required: true
        schema:
          type: integer
      - name: offset
        in: query
        description: offset
        required: true
        schema:
          type: integer
      - name: order
        in: query
        description: order
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: status
        required: true
        schema:
          type: string
      - name: batchNo
        in: query
        description: batch no
        required: true
        schema:
          type: string
      - name: mobileNo
        in: query
        description: mobile no
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: email
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/DynamicUrlMerchantRequest'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/payByLink/{userId}/changeStatus:
    put:
      description: dynamic URL request cancellation
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        description: User ID
        required: true
        schema:
          type: integer
      requestBody:
        description: request for change payment request status
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PaymentRequestChangeStatusRequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  message:
                    type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-codegen-request-body-name: paymentRequestChangeStatusRequest
  /{id}/payByLink/viewRequests:
    get:
      description: get dynamic URL requests
      parameters:
      - name: id
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        description: limit
        required: true
        schema:
          type: integer
      - name: offset
        in: query
        description: offset
        required: true
        schema:
          type: integer
      - name: order
        in: query
        description: order
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: status
        required: true
        schema:
          type: string
      - name: batchNo
        in: query
        description: batch no
        required: true
        schema:
          type: string
      - name: mobileNo
        in: query
        description: mobile no
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: email
        required: true
        schema:
          type: string
      - name: expiryDate
        in: query
        description: Expiry Date
        required: true
        schema:
          type: string
      - name: dueDate
        in: query
        description: Due Date
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/DynamicUrlMerchantRequest'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/payByLinkAuditTrail:
    get:
      description: get dynamic URL request from reference
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: requestId
        in: query
        description: Request No
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/DynamicURLMappingAuditResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/utilityDashboard/paymentSummary:
    get:
      description: get utility dashboard summary details
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: month
        in: query
        description: Month
        required: true
        schema:
          type: string
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopUtilityDashboardTxnDetails'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/utilityDashboard/lineChart:
    get:
      description: utility dashboard line chart details
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopUtilityDashboardChartResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/utilityDashboard/barChart:
    get:
      description: utility dashboard line chart details
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: monthRange
        in: query
        description: Month Range
        required: true
        schema:
          type: integer
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopUtilityDashboardChartResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/coopBill/utilityDashboard/pieChart:
    get:
      description: utility dashboard line chart details
      parameters:
      - name: id
        in: path
        description: Merchant ID
        required: true
        schema:
          type: integer
      - name: month
        in: query
        description: Month Range
        required: true
        schema:
          type: integer
      - name: year
        in: query
        description: Year
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoopUtilityDashboardChartResponse'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /{id}/payByLinks/maximumExpDays:
    get:
      description: Get PBL Maximu Expiry Days for Coop Merchant
      parameters:
      - name: id
        in: path
        description: Coop Merchant ID
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful Response
          content:
            '*/*':
              schema:
                title: IpayResponse
                type: object
                properties:
                  responseCode:
                    type: string
                  responseObject:
                    type: object
                    properties:
                      pblExpirationMaxDays:
                        type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    CorperateTransactionUploadResponse:
      type: object
      properties:
        overallStatus:
          type: string
        transctions:
          type: array
          items:
            $ref: '#/components/schemas/CooperateTransaction'
    CooperateTransaction:
      type: object
      properties:
        id:
          type: number
        toAccountNo:
          type: string
        bankCode:
          type: string
        bankName:
          type: string
        txnAmount:
          type: string
        beneficiaryName:
          type: string
        remark:
          type: string
        paymentType:
          type: string
        utilityMerchantCode:
          type: string
        utilityAccountNo:
          type: string
        currentStatus:
          type: string
        currentMessage:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
    CorperateTransactionApprovalResponse:
      type: object
      properties:
        message:
          type: string
    CoopMerchantResponse:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        description:
          type: string
        logoImagePath:
          type: string
        name:
          type: string
        status:
          type: string
    CoopMerchantUserStatusResponse:
      type: object
      properties:
        status:
          type: string
        description:
          type: string
        accountRecoveryEnabled:
          type: string
    CoopMerchantUserRoleResponse:
      type: object
      properties:
        id:
          type: number
        roleName:
          type: string
        roleDescription:
          type: string
        roleType:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/CoopRolepermission'
    CoopRolepermission:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        description:
          type: string
        actionMapping:
          type: string
    CoopMerchantUserResponse:
      type: object
      properties:
        id:
          type: number
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        status:
          type: string
        email:
          type: string
        username:
          type: string
        profilePic:
          type: string
    CooperateTransactionPagination:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: '#/components/schemas/CooperateTransaction'
    TransactionHistory:
      type: object
      properties:
        transactionId:
          type: integer
        payer:
          type: string
        payee:
          type: string
        amount:
          type: number
        status:
          type: string
        createdDate:
          type: string
        modifiedDate:
          type: string
        remark:
          type: string
    CoopBillTypeRequest:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        description:
          type: string
        name:
          type: string
        status:
          type: string
        coopMerchantId:
          type: number
    CoopBillTypeResponse:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        description:
          type: string
        name:
          type: string
        status:
          type: string
        coopMerchant:
          type: string
        createdDate:
          type: string
        createdBy:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
    BillDetailSummaryResponse:
      type: object
      properties:
        type:
          type: string
        count:
          type: string
        total:
          type: string
    CoopBillExecutionResponse:
      type: object
      properties:
        id:
          type: number
        coopBillType:
          type: string
        billPresentedCustomer:
          type: string
        billReference:
          type: string
        batchNo:
          type: string
        amount:
          type: string
        paymentStatus:
          type: string
        executionStatus:
          type: string
        billDate:
          type: string
        mode:
          type: string
        nextDueDate:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
        expiryDate:
          type: string
        requestURL:
          type: string
    BillPresentedCustomerResponse:
      type: object
      properties:
        id:
          type: number
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        status:
          type: string
        referenceCode:
          type: string
        email:
          type: string
        billPresentedMerchant:
          type: string
        createdDate:
          type: string
        createdBy:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
    BillPresentedCustomerRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        status:
          type: string
        referenceCode:
          type: string
        email:
          type: string
        billPresentedMerchant:
          type: string
    CoopBillExecutionRequest:
      type: object
      properties:
        batchNo:
          type: string
        mode:
          type: string
        coopBillTypeId:
          type: integer
        coopBillExecutionDetail:
          type: array
          items:
            $ref: '#/components/schemas/CoopBillExecutionDetail'
    CoopBillExecutionDetail:
      type: object
      properties:
        billPresentedCustomerId:
          type: number
        referenceNo:
          type: string
        batchNo:
          type: string
        paymentStatus:
          type: string
        executionStatus:
          type: string
        amount:
          type: string
        billDate:
          type: string
        dueDate:
          type: string
        customerMobileNo:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
    BillExecutionSaveResponse:
      type: object
      properties:
        error:
          type: string
        responseMessage:
          type: string
        coopBillExecutionDetail:
          type: array
          items:
            $ref: '#/components/schemas/CoopBillExecutionResponse'
    CoopBillApproveResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    CoopBillChangeStatusRequest:
      type: object
      properties:
        status:
          type: string
        billExecutionIds:
          type: integer
        remark:
          type: string
    IndividualCoopPaymentRequest:
      type: object
      properties:
        paymentType:
          type: string
        toAccountNo:
          type: string
        bankCode:
          type: string
        txnAmount:
          type: string
        beneficiaryName:
          type: string
        remark:
          type: string
        utilityMerchantCode:
          type: string
        utilityAccountNo:
          type: string
        batchNo:
          type: string
    MerchantPaymentSummaryResponse:
      type: object
      properties:
        type:
          type: string
        count:
          type: string
        total:
          type: string
    CoopDashboardResponse:
      type: object
      properties:
        paidAmount:
          type: string
        overDueAmount:
          type: string
        pendingAmount:
          type: string
    CoopMerchantOutstandingResponse:
      type: object
      properties:
        billType:
          type: string
        outstandingAmount:
          type: string
        overDueAmount:
          type: string
        nextDueDate:
          type: string
    MerchantRoleResponse:
      type: object
      properties:
        id:
          type: number
        roleName:
          type: string
        roleDescription:
          type: string
        roleType:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/MerchantPermissionResponse'
    MerchantPermissionResponse:
      type: object
      properties:
        id:
          type: number
        code:
          type: string
        description:
          type: string
        actionMapping:
          type: string
    CoopBillExecutionUpdateRequest:
      type: object
      properties:
        id:
          type: number
        coopBillType:
          type: string
        billPresentedCustomer:
          type: string
        batchNo:
          type: string
        amount:
          type: string
        nextDueDate:
          type: string
        mode:
          type: string
    RecurringBillCreateRequest:
      type: object
      properties:
        batchNo:
          type: string
        mode:
          type: string
        coopBillTypeId:
          type: integer
        recurringBillCreateRequest:
          type: array
          items:
            $ref: '#/components/schemas/RecurringBillDetailRequest'
    RecurringBillDetailRequest:
      type: object
      properties:
        billPresentedCustomerId:
          type: number
        referenceNo:
          type: string
        batchNo:
          type: string
        status:
          type: string
        amount:
          type: string
        endDate:
          type: string
        customerMobileNo:
          type: string
        executionDayOfWeek:
          type: string
        billDate:
          type: string
        executionDayOfMonth:
          type: number
        createdBy:
          type: string
        createdDate:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
          type: string
        billFrequency:
          type: string
        annualExDate:
          type: string
        firstBillDate:
          type: string
        noOfDatesToDue:
          type: string
    RecurringBillSaveResponse:
      type: object
      properties:
        error:
          type: string
        responseMessage:
          type: string
        coopBillExecutionDetail:
          type: array
          items:
            $ref: '#/components/schemas/RecuringBillResponse'
    RecuringBillResponse:
      type: object
      properties:
        id:
          type: number
        coopBillType:
          type: string
        billPresentedCustomerId:
          type: number
        referenceNo:
          type: string
        batchNo:
          type: string
        status:
          type: string
        amount:
          type: string
        endDate:
          type: string
        customerMobileNo:
          type: string
        executionDayOfWeek:
          type: string
        billDate:
          type: string
        executionDayOfMonth:
          type: number
        createdBy:
          type: string
        createdDate:
          type: string
        lastModifiedBy:
          type: string
        lastModifiedDate:
[...]
